@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
        footer {
            display: none;
        }
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;

        }

        body {
            background-color: #fff;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }

            .background .shape {
                height: 200px;
                width: 200px;
                position: absolute;
                border-radius: 50%;
            }

        .shape:first-child {
            background: linear-gradient( #917FB3, #6F5C93);
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient( to right, #AE5990, #E486C3);
            right: -30px;
            bottom: -80px;
        }

        .LoginPage form {
            height: 520px;
            width: 400px;
            background-color: rgba(255,255,255,0.13);
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 50px 35px;
        }

        .LoginPage form * {
                font-family: 'Poppins',sans-serif;
                color: #000;
                letter-spacing: 0.5px;
                outline: none;
                border: none;
            }

        .LoginPage form h3 {
                font-size: 32px;
                font-weight: 500;
                line-height: 42px;
                text-align: center;
            }

        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        input {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(55, 58, 56, 0.27);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        ::placeholder {
            color: #e5e5e5;
        }

        .LoginPage button {
            margin-top: 50px;
            width: 100%;
            background-color: #000;
            color: #fff;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        .social {
            margin-top: 30px;
            display: flex;
        }

            .social div {
                background: red;
                width: 150px;
                border-radius: 3px;
                padding: 5px 10px 10px 5px;
                background-color: rgba(255,255,255,0.27);
                color: #eaf0fb;
                text-align: center;
            }

                .social div:hover {
                    background-color: rgba(255,255,255,0.47);
                }

            .social .fb {
                margin-left: 25px;
            }

            .social i {
                margin-right: 4px;
            }

    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="LoginPage">
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <h3>Login Here</h3>

            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>


            <label asp-for="Input.Password" >Password</label>
            <input asp-for ="Input.Password" autocomplete="current-password" aria-required="true" id="password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                </label>
            </div>
            <div style="color: white">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
            <button id="login-submit" type="submit">Log In</button>
        </form>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
